.comment
  - if can? :destroy, Comment
    = link_to '×', comment_path(comment), method: :delete, remote: true,
      confirm: 'Are you sure you want to remove this comment?', disable_with: '×',
      class: 'close'
  %small= l comment.updated_at, format: :datetime
  %strong= comment.user.fio
  %div= comment.body

  %blockquote
    - unless comment.leaf?
      = render partial: 'comments/comment', collection: tree.children(comment.id),
                as: :comment, locals: { tree: tree }
  - if can? :create, Comment
    = link_to 'answer', 'javascript:;', class: 'comment_for', data: { id: comment.id }

  %hr