- model_class = Vacancy
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  = @vacancy.name
%p
  %strong= model_class.human_attribute_name(:salary) + ':'
  = @vacancy.salary
%p
  %strong= model_class.human_attribute_name(:employment) + ':'
  = @vacancy.employment
%p
  %strong= model_class.human_attribute_name(:expire) + ':'
  = @vacancy.expire
%p
  %strong= model_class.human_attribute_name(:expire_at) + ':'
  = @vacancy.expire_at
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  = @vacancy.user_id
%p
  %strong= model_class.human_attribute_name(:require_skill_list) + ':'
  = @vacancy.cached_skill_list

%h3 Contacts

%p
  %strong= model_class.human_attribute_name(:Person) + ':'
  = @vacancy.user.fio

%p
  %strong= model_class.human_attribute_name(:phone) + ':'
  = [@vacancy.user.home_phone,
      @vacancy.user.mobile_phone].reject { |p| p.empty? } .join(', ')

.form-actions
  = link_to t('.back'), vacancies_path, class: 'btn'
  - if can? :edit, @vacancy
    = link_to t('.edit'), edit_vacancy_path(@vacancy), class: 'btn'
  - if can? :destroy, @vacancy
    = link_to t('.destroy'), vacancy_path(@vacancy), method: 'delete',
    data: { confirm: t('.confirm', default: 'Are You sure?') }, class: 'btn btn-danger'


= render partial: 'comments/list', locals: { new_comment: @new_comment, tree: @tree }