= javascript_include_tag 'skill_in_search', 'data-turbolinks-track' => true

%h1=t '.title'

= search_form_for @search, url: workers_path, class: 'form-search search_with_skills' do |f|
  = f.text_field :user_fio_cont, placeholder: :fio_contains
  = f.text_field :salary_gteq, placeholder: :salary_more_that
  = text_field_tag :skills, params[:skills], placeholder: :skills

  %button.btn= t('buttons.search')

= paginate @workers

%table.table.table-striped
  %thead
    %tr
      %th= sort_link(@search, :user_fio)
      %th= sort_link(@search, :salary)
      %th= sort_link(@search, :experience)
      %th= sort_link(@search, :employment)
      %th= t('.skill_list')
  %tbody
    - @workers.each do |worker|
      %tr
        %td= link_to worker.user.fio, worker_path(worker)
        %td= worker.salary
        %td= worker.experience
        %td= worker.employment
        %td= skills_list worker.cached_skill_list

= paginate @workers
