.page-header
  %h1=t '.title'

%p
  %strong Name:
  = @worker.user.fio
%p
  %strong Contacts:
  = [@worker.user.mobile_phone,
      @worker.user.home_phone].reject { |p| p.empty? } .join(', ')
%p
  %strong Employment:
  = @worker.employment
%p
  %strong Salary:
  = @worker.salary.presence || '-'
%p
  %strong Experience:
  = @worker.experience.presence || '-'
%p
  %strong Learning place:
  = @worker.learning_place.presence || '-'
%p
  %strong Skill list:
  = @worker.cached_skill_list
%p
  %strong Created at:
  = l @worker.user.created_at, format: :date

.form-actions
  = link_to t('.back', default: t('helpers.links.back')), workers_path, class: 'btn'
