= nav_bar brand: 'Board' do
  = menu_group do
    = menu_item 'Vacancies', vacancies_path
    = menu_item 'Workers', workers_path
  = menu_group pull: :right do
    - if user_signed_in?
      = menu_item 'Edit Profile', edit_user_registration_path
      = menu_item 'Log Out', destroy_user_session_path, method: :delete
    - else
      = menu_item 'Sign in', new_user_session_path
      = menu_item 'Sign up', new_user_registration_path